.header{background-image: url(images/left-line.png),url(images/right-line.png);background-position:top left,bottom right;background-repeat: no-repeat;padding-top: 100px;}
.bb-nav{margin: 40px 0;text-align: center;position: sticky;top: 0;background-color:#fff;z-index: 10;}
.bb-nav a{padding: 0px 30px;color: #3c3c3c;font-family: "Dorsa", sans-serif;font-size: 70px;}
.nav-item a:hover, .nav-item a:focus{color: #b29c69;}
/*Welcom */
.welcome{background-color: #f8f8f8;overflow: hidden;}
.welcome h3, .london-text h3{text-align: left;font-family: "Dorsa", serif;margin-top: 60px;font-size: 100px;margin-bottom: 30px;text-transform: uppercase;padding-left: 40px;}
.welcome h5, .london-text h5{font-family: "PT Sans Narrow", serif;font-size: 18px;text-transform: uppercase;font-weight: 600;margin-bottom: 20px;padding-left: 40px;}
.welcome p, .london-text p{font-family: "PT Sans Narrow", serif;font-size: 18px;margin-bottom: 50px;padding-left: 40px;}
.welcome .col-mg-8{padding-left: 60px;padding-right: 60px;}
.welcome a, .london-text a{color: #3c3c3c;line-height: 26px;font-family: "PT Sans Narrow", serif;font-size: 18px;text-decoration: underline;text-decoration-style: double;text-underline-offset: 20px;padding-left: 50px;}
.welcome a:hover, .welcom a:focus{color: #b29c69;}
/* Blues */
.blues{background-image: url(images/blues.jpg);background-repeat: no-repeat;background-size: cover;}
.blues h1{text-align: right;font-family: "Dorsa", serif;color: #fff;font-size: 500px;text-transform: uppercase;padding-top: 50px;}
.blues h5{text-align: right;color: #fff;font-size: 80px;font-family: "Dorsa", serif;text-transform: uppercase;margin-top: -126px;padding-right: 22px;}
/* Listen */
.listen{background-image:url(images/listen.jpg);background-repeat: no-repeat;padding-bottom: 100px;}
.listen h3{font-family: "Dorsa", sans-serif;color: #fff;font-size: 150px;font-weight: normal;text-align: right;padding-top: 80px;}
.mp3-box ul{font-family: "PT Sans Narrow", sans-serif;font-size: 18px;text-align:left;margin-bottom: 0;padding-top: 30px;}
.mp3-box li{list-style-type: none;}
.mp3-box a{color:#fff;text-decoration: none;line-height: 50px;}
.mp3-box a:hover,.mp3-box a:focus{color:#b29c69;}
/* Mic */
.mic-box{background-color: #f8f8f8;position: relative;}
.mic-image-text{position: absolute;bottom: 0px;}
.mic-text{background-color: #000018;}
.mic-text h4{font-family: "PT Sans Narrow", sans-serif;text-transform: uppercase;color: #fff;font-size: 36px;font-weight:normal;text-align: center;padding-bottom: 20px;margin-bottom: 0%;padding-top:20px ;}
.mic-text span{color: #b29c69;font-size: 36px;font-weight: normal;}
.sesera-text{font-family: "PT Sans Narrow", sans-serif;font-size: 23px;
text-transform: uppercase;padding-right: 100px;padding-left: 80px;padding-top: 50px;}
.sesera-text h3{color: #4d4b4b;line-height: 40px;padding-top: 20px;font-weight: 700; }
.sesera-text p{color:#5b5a5a;font-size: 18px;font-weight: 700;padding-bottom: 60px;}
/* London */
.london-box{padding-top: 100px;}
.london-image-2{transform: translate(0px, -63px);padding-left: 110px;}
.london-image-nolan{margin-top: 26px;}
.london-text a:hover, .london-text a:focus{color: #b29c69;} 
.london-box hr{color: #423e3e;border: none;}
/* Tour-dates */
.tour-dates h3{  font-family: "Dorsa", serif;font-size: 100px;text-align: center;padding-top: 50px;color: #b29c69;color: #6c6c6c;padding-bottom: 40px;}
.tour-dates h5{font-family: "PT Sans Narrow", serif;font-size: 70px;color: #b29c69;font-weight: 600;}
.tour-dates sup{font-size: 18px;font-family: "PT Sans Narrow", serif;vertical-align: 30px;text-transform:uppercase ;}
.tour-dates p{ font-family: "PT Sans Narrow", serif;color: #6c6c6c;}
 /* Footer */
 .footer{background-color:#f8f8f8;background-image:url(images/footer.jpg);background-repeat: no-repeat;background-position:center bottom;margin-top: 50px;}
 .follow-us-text{text-transform: uppercase} 
 .follow-us-text h6{font-size:  72px;font-weight: normal;font-family: "Dorsa", sans-serif;color: #3c3c3c;text-align: left;margin-top: 106px;line-height: 72px;margin-bottom: 20px;}
 .logos{text-align: center;padding: 120px 47px;}
 .logos i{border: 1px solid #d5d5d5;border-radius: 50%;margin-top:5px;line-height: 70px;color: #000018;width: 70px;height: 70px;}
 .logos i:hover, .logos i:focus{ background-color: #b29c69;color: #fff;}
 .jackson-text h5{font-size: 65px;font-family: "Dorsa", sans-serif;font-weight: normal;color: #3c3c3c;text-transform: uppercase;padding-top: 100px;}
.jackson-text h6{margin-top: 0%;font-family: "PT Sans Narrow";font-size:20px;font-weight: normal;color: #3c3c3c;margin-bottom: 0px;}
/* ......................About...................... */
.header{display: block;padding-top: 40px;}
.header img{padding-top: 20px;}
.header h2{padding-top: 20px;text-align: center;font-family: "Dorsa", serif;font-size: 140px;}
/* Our */
.our h3{font-family: "Dorsa", serif;font-size: 100px;text-align: center;padding-top: 80px;color: #b29c69;color: #6c6c6c;padding-bottom: 40px;}
.our h5{font-family: "PT Sans Narrow", serif;font-size: 70px;color: #b29c69;font-weight: 600;text-align: center;padding-left: 90px;}
.our h6{font-family: "PT Sans Narrow", serif;font-size: 18px;font-weight: 600;margin-top: 30px;margin-bottom: 30px;margin-left: 100px;margin-right: 100px;}
.our p{font-family: "PT Sans Narrow", serif;font-size: 18px;margin-left: 100px;margin-right: 100px;color: #3c3c3c;margin-bottom: 50px;}
/* Top */
.top{background-image:url(images/ore-top.jpg);background-repeat: no-repeat;padding-bottom: 100px;}
.top h3{font-family: "Dorsa", sans-serif;color: #fff;font-size: 150px;font-weight: normal;text-align: center;padding-top: 280px;padding-bottom: 10px;padding-left: 380px;}
/* Girl */
.girl-image-text{position: absolute;bottom: 0px;}
.girl-text{background-color: #000018;}
.girl-text h4{font-family: "PT Sans Narrow", sans-serif;text-transform: uppercase;color: #fff;font-size: 33px;font-weight:normal;text-align: center;padding-bottom: 20px;margin-bottom: 0%;padding-top:20px;}
/* Awards */
.awards-text p{font-family: "PT Sans Narrow", serif;font-size: 18px;margin-bottom: 50px;padding-left: 40px;text-transform: uppercase;line-height: 40px;margin-bottom: 20px;font-weight: 600;}
.awards-text h3{text-align: left;font-family: "Dorsa", serif;margin-top: 60px;font-size: 100px;text-transform: uppercase;padding-left: 40px;}
.awards-text a{color: #3c3c3c;line-height: 26px;font-family: "PT Sans Narrow", serif;font-size: 18px;text-decoration: underline;text-decoration-style: double;text-underline-offset: 20px;padding-left: 50px;}
.awards-text a:hover, .awards-text a:focus{color: #b29c69;}
.awards-image{margin-top: 50px;margin-bottom: 70px;}
.nav-link{padding-bottom: 60px;}
/* ...............................Discography............................... */
.discography{background-image: url(images/left-line.png),url(images/right-line.png);background-repeat: no-repeat;background-position: left top, right bottom;padding-top: 160px;}
.discography h3{text-align: left;font-family: "Dorsa", serif;font-size: 140px;}
.discography img{padding-left: 350px;}
/* Popular */
.popular{background-image:url(images/popular.jpg);background-repeat: no-repeat;padding-bottom: 100px;}
.popular h3{font-family: "Dorsa", sans-serif;color: #fff;font-size: 150px;font-weight: normal;text-align: left;padding-top: 80px;}
.popular h5{color: #fff;text-transform: uppercase;font-family: "PT Sans Narrow", serif;font-size: 25px;margin-bottom: 20px;font-weight: 600;}
.popular h6{color: #fff;text-transform: uppercase;font-family: "PT Sans Narrow", serif;font-size: 18px;}
.popular ul{font-family: "PT Sans Narrow", sans-serif;font-size: 18px;text-align:left;margin-bottom: 0;padding-top: 30px;}
.popular li{list-style-type: none;}
.popular a{color:#fff;text-decoration: none;line-height: 50px;}
.mp3-box a:hover,.mp3-box a:focus{color:#b29c69;}
/* Coming */
.coming-box{padding-top: 100px;}
.coming-image{padding-right: 60px;}
.coming-image-2{transform: translate(0px, -63px);}
.coming-soon-image{margin-top: 26px;}
.coming-text a:hover, .coming-text a:focus{color: #b29c69;} 
.coming-box hr{color: #423e3e;border: none;}
.coming-text h3{text-align: left;font-family: "Dorsa", serif;margin-top: 20px;font-size: 100px;margin-bottom: 30px;text-transform: uppercase;}
.coming-text h5{font-family: "PT Sans Narrow", serif;font-size: 18px;text-transform: uppercase;font-weight: 600;margin-bottom: 20px;}
.coming-text p{font-family: "PT Sans Narrow", serif;font-size: 18px;margin-bottom: 50px;}
.coming-text a{color: #3c3c3c;line-height: 26px;font-family: "PT Sans Narrow", serif;font-size: 18px;text-decoration: underline;text-decoration-style: double;text-underline-offset: 20px;}
/* ..............................Tours..............................  */
.schedule {background-color: #f8f8f8;overflow: hidden;}
.schedule  h3{text-align: left;font-family: "Dorsa", serif;margin-top: 60px;font-size: 100px;margin-bottom: 20px;text-transform: uppercase;padding-left: 40px;margin-top: 15px;}
.schedule h5{font-family: "PT Sans Narrow", serif;font-size: 18px;text-transform: uppercase;padding-left: 40px;color: #000;}
.schedule  p{font-family: "PT Sans Narrow", serif;font-size: 18px;margin-bottom: 20px;padding-left: 40px;color: #646363;}
.schedule  .col-mg-8{padding-left: 60px;padding-right: 60px;}
.schedule  a{color: #3c3c3c;line-height: 26px;font-family: "PT Sans Narrow", serif;font-size: 18px;text-decoration: underline;text-decoration-style: double;text-underline-offset: 20px;padding-left: 50px;}
.schedule  a:hover, .schedule  a:focus{color: #b29c69;}
/* The new album */
.new-album{background-image: url(images/new-album.jpg);background-repeat: no-repeat;background-size: cover;}
.new-album h1{font-family: "Dorsa", serif;color: #fff;font-size: 500px;text-transform: uppercase;padding-top: 50px;}
.new-album h5{color: #fff;font-size: 80px;font-family: "Dorsa", serif;text-transform: uppercase;margin-top: -126px;padding-right: 22px;}
.new-album h1{font-family:"Dorsa", serif; font-size: 500px;color: #ffffff;font-weight: 600;font-weight: normal;}
.new-album sup{font-size: 200px;font-family: "Dorsa", serif;vertical-align: 200px;text-transform:uppercase ;color: #fff;font-weight: normal;}
/* Current */
.Current-box{padding-top: 70px;}
.Current-image{padding-right: 60px;}
.Current-text a:hover, .Current-text a:focus{color: #b29c69;} 
.Current-box hr{color: #423e3e;border: none;}
.Current-text h3{text-align: left;font-family: "Dorsa", serif;margin-top: 10px;font-size: 100px;margin-bottom: 10px;text-transform: uppercase;}
.Current-text h5{font-family: "PT Sans Narrow", serif;font-size: 18px;text-transform: uppercase;font-weight: 600;margin-bottom: 20px;padding-right: 50px;}
.Current-text p{font-family: "PT Sans Narrow", serif;font-size: 18px;margin-bottom: 50px;padding-right: 50px;}
.Current-text a{color: #3c3c3c;line-height: 26px;font-family: "PT Sans Narrow", serif;font-size: 18px;text-decoration: underline;text-decoration-style: double;text-underline-offset: 20px;}